.post-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.post{
  width: 30%;
  padding: 50px;
  background-color: gainsboro;
  border-radius: 15px;
  margin: 10px;
}
.header{
  background-color: khaki;
}